<h1>Details Gross profit per year</h1>

<%=
  link_to 'Gross profit per year',
  pages_contact_path 
%>
<p>Year - <%=@year%></p>
==================================
<% if @items.present?%>
   <% ttotal = 0%><% ttoex = 0%><% ttolast = 0%><% ttoquan = 0%><% ttodis = 0%>
   <%for i in 0..11%>
      <%@items[i].each do |item|%>
        <%total = (item.extax_value-item.lastbuyprice)*item.quantity-item.discount  %>
        <% toex = item.extax_value %>
        <% tolast = item.lastbuyprice %>
        <% toquan = item.quantity %>
        <% todis = item.discount %>
        <% ttotal += total%>
        <% ttoex += toex%>
        <% ttolast += tolast%>
        <% ttoquan += toquan%>
        <% ttodis += todis%>
      <%end%>
    <%end%>
    <p>Gross profit : <%=ttotal%></p>
    <p>Total extax : <%=ttoex%></p>
    <p>Total last buy price: <%=ttolast%></p>
    <p>Total quantity : <%=ttoquan%></p>
    <p>Total discount : <%=ttodis%></p>
<%else %>
 <%="There is NO Data in this year"%> 

<%end%>
==================================