<h1>Monthly total view of extax</h1>
<p>choose your Year and Month</p>
<%=
  link_to 'Back',
  items_path 
%>
<br/>
<% months =['01','02','03','04','05','06','07','08','09','10','11','12']
   years = ['2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']%>
<form method='get' action='/pages/about' >    
<div class="custom-select" style="width:200px;">
  <select name='month' >
   <% months.each do |i| %>
    <option value="<%=i%>"><%=i%></option>
    <% end %>
   </select>

    <select name='year'>
    <% years.each do |i| %>
    <option value="<%=i%>"><%=i%></option>
    <% end %>
   </select>
</div>
    <input type='submit'>
</form>


<% ly =years.size-1 %>
<% lm = months.size-1 %>
<table border='1'>
  <thead>
    <tr>
      <th>    </th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apil</th>
      <th>May</th>
      <th>Jun</th>
      <th>July</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
    </tr>
  </thead>
  <tbody>
<% for y in 0..ly%>
  <tr>
  <td><%=years[y]%></td>
  <% for m in 0..lm%>
    <%total=0%>
    <%@items[y][m].each do |item|%>
       <% total += item.extax_value %>       
    <%end%>

  <td><%=total%></td>
  
  <%m +=1%>
  <% end%>
  </tr>
<%y +=1%>
<% end%>

  </tbody> 
</table>   


                
 